
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="all" href="/assets/application-2cdb4cecb904d07232e557c9be433e1185b134ccb5d4b6407cb8ad32547acbfd.css" />
<head>
<title>COMPANY - 株式会社techtec</title>
<meta content='株式会社techtecは、「個人の成長をサポートし、誰もが自由に生きていける世界を作る。」をミッションに、誰もが自由に生きていける世界を作るべく、あらゆる選択肢を生み出し、提供し続けていきます。' name='description'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1' name='viewport'>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body></body>
<header class='l-header' role='banner'>
<div class='l-header__body'>
<div class='l-header__logo'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__logo-sp'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__nav-toggle'>
<img src="/assets/ic_toggle-d63da8b5ec3d4b92f502c77973ebe5201683c6122734d9cbec1b3b47178a1fee.png" alt="Ic toggle" />
</div>
<ul class='l-header__list'>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
<li class='l-header__link l-header__btn'>
<a class="l-top-header__content" href="/recruit">RECRUIT</a>
</li>
</ul>
</div>
</header>
<div class='l-header__nav-sp'>
<nav>
<ul>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/recruit">RECRUIT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
</ul>
</nav>
</div>
<script crossorigin='anonymous' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script>
  $(function() {
    $('.l-header__nav-toggle').click(function(){
      if ($(this).hasClass('open')) {
        $('.l-header__nav-sp').fadeOut();
        $('body').removeClass('fixed');
        $(this).find('img').attr('src','/assets/ic_toggle.png');
        $(this).removeClass('open');
      } else {
        $('.l-header__nav-sp').fadeIn();
        $('body').addClass('fixed');
        $(this).find('img').attr('src','/assets/ic_close.png');
        $(this).addClass('open');
      }
    })
  })
</script>

<div class='c-body'>
<div class='c-company'>
<section>
<div class='c-body__title'>
<h2 class='c-body__heading'>COMPANY</h2>
<p class='c-body__subhead'>会社情報</p>
</div>
<div class='c-company__info'>
<table class='c-company__table'>
<tr>
<td class='c-company__item'>会社名</td>
<td class='c-company__content'>株式会社techtec (techtec, Inc.)</td>
</tr>
<tr>
<td class='c-company__item'>代表取締役</td>
<td class='c-company__content'>田上智裕 (Tomohiro Tagami)</td>
</tr>
<tr>
<td class='c-company__item'>資本金</td>
<td class='c-company__content'>17,994,600円(資本準備金含む)</td>
</tr>
<tr>
<td class='c-company__item'>設立</td>
<td class='c-company__content'>2018年1月</td>
</tr>
<tr>
<td class='c-company__item'>顧問弁護士</td>
<td class='c-company__content'>AZX Professionals Group</td>
</tr>
<tr>
<td class='c-company__item'>顧問税理士</td>
<td class='c-company__content'>NEXPERT ADVISORY GROUP</td>
</tr>
<tr>
<td class='c-company__item'>取引先金融機関</td>
<td class='c-company__content'>三井住友銀行</td>
</tr>
<tr>
<td class='c-company__item'>
取引先
<span>(※一部抜粋、順不同)</span>
</td>
<td class='c-company__content'>株式会社リクルート </br>株式会社The Nodist </br>株式会社Aerial Partners</td>
</tr>
</table>
<div class='c-office__info'>
<div class='l-body__title l-body__title_arrange'>
<h2 class='l-body__heading l-body__heading_arrange'>
OFFICE
<span class='l-body__subhead l-body__subhead_arrange'>
オフィス
</span>
</h2>
</div>
<div class='c-office__text'>
〒102-0083</br>東京都千代田区麹町1-4-4 ZENITAKA ANNEX 2F
<a href='https://goo.gl/maps/b5pfjfLidko' target='[:_blank]'>Google mapで見る</a>
</br>半蔵門線「半蔵門駅」徒歩3分 | 有楽町線「麹町駅」徒歩10分
</div>
<div class='c-office__image'>
<img alt="techtecオフィス画像1" src="/assets/img_office_01-3698d7001b75ba9200d283000ab16dc001a44bbf65ac080e419e5387936fd229.png" />
<img alt="techtecオフィス画像2" src="/assets/img_office_02-0561b8dd181a3b9767f7cd7e6d464ede769a02af3bbbec335a184112913c2726.png" />
<img alt="techtecオフィス画像3" src="/assets/img_office_03-d7658de003db13b1bf7bf8018baceddc0fc4fb8827f68f43c4344469d99bea21.png" />
<img alt="techtecオフィス画像4" src="/assets/img_office_04-29e411bb71410706ed37ae1a516fa2967fac3702eb71b5012e7f6a5466dada2e.png" />
</div>
</div>
</div>
</section>
</div>
<div class='i-partner'>
<div class='l-body__title'>
<h2 class='l-body__heading'>PARTNER</h2>
<span class='l-body__subhead'>パートナー</span>
</div>
<div class='i-partner__logo'>
<img alt="PRIMAS" src="/assets/img_logo_partner_01-dc437b25104045ed36776957c2f3ce9552f5c8d6a9db2a08dfe3d2f35ed57b39.png" />
<img alt="withB" src="/assets/img_logo_partner_02-0259314459ce6bada204517ad1c8ee9974ca77266188ea63398d9d2883b4e9ec.png" />
<img alt="LIFULL HUB" src="/assets/img_logo_partner_03-0c6006f2d06fce032c98a1fbf78896c32311f2b8eab05ebd8f84a5ba932b2c28.png" />
</div>
<div class='i-partner__content'>
<h3 class='i-partner__content__title'>メディアサポート事業 | プロジェクトPR事業 | 翻訳事業</h3>
<p class='i-partner__content__desc'>techtecでは、上記の事業で協業できるパートナーを随時募集しています。<br/>ミートアップの共催やクライアントの紹介など、パートナーシップの形は様々です。<br/>まずは下記よりお気軽にお問い合わせください。</p>
<div class='i-partner__content__button c-line__button'>
<a class="c-line__button__text" href="/contact">お問い合わせ</a>
</div>
</div>
</div>
</div>
<footer>
<section class='inner'>
<div class='l-footer__body'>
<div class='l-footer__body__logo'>
<img alt="techtec" src="/assets/logo_wh-01db39b1e5ec60fca1fa00b41704065e4bb7de01344129b115b1c713d57e7465.png" />
</div>
<div class='l-footer__body__link'>
<ul>
<li class='l-footer__title'>
ABOUT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/">ホーム</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service">サービス一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/products">プロダクト一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/company">会社情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/recruit">採用情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/contact">お問い合わせ</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
SERVICE
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/media_consulting">メディアサポート事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/human_resource_development">人材育成事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/translation">翻訳・採用事業</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
PRODUCT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://pol.techtec.world">PoL(ポル)</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.site">techtec</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://hi-blockchain.world/">Hi Blockchain</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
COMMUNITY
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://twitter.com/PoL_techtec">Twitter</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://www.facebook.com/PoLtechtec/">Facebook</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.connpass.com/">connpass</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://medium.com/techtec">会社ブログ</a>
</li>
</ul>
</div>
</div>
<div class='l-footer__copyright'>
<p>​©︎2019 • techtec Inc.</p>
</div>
</section>
</footer>

</html>
