<!DOCTYPE html>
<html>
<link rel="stylesheet" media="all" href="/assets/application-2cdb4cecb904d07232e557c9be433e1185b134ccb5d4b6407cb8ad32547acbfd.css" />
<head>
<title>株式会社テックテク - techtec, Inc.</title>
<meta content='株式会社techtecのコーポレートサイトです。プロダクトやサービス、採用情報、チームメンバーなどを紹介します。「個人の成長をサポートし、誰もが自由に生きていける世界を作る。」をミッションに、より良い社会の実現を目指します。' name='description'>
<link href='assets/slick.css' media='all' rel='stylesheet'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0, user-scalable=yes' name='viewport'>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body></body>
<header class='l-header l-top-header' role='banner'>
<div class='l-header__body'>
<div class='l-header__logo'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo_white-6f605783af553081345410b6fea5c16881d379043c750412a1b69a3fa67d6227.png" /></a>
</div>
<div class='l-header__logo-sp'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__nav-toggle'>
<img src="/assets/ic_toggle-d63da8b5ec3d4b92f502c77973ebe5201683c6122734d9cbec1b3b47178a1fee.png" alt="Ic toggle" />
</div>
<ul class='l-header__list'>
<li class='l-header__link'>
<a class="l-top-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-top-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-top-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-top-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'></li>
<a class="l-top-header__content l-top-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
<li class='l-header__link'>
<a class="l-top-header__content l-top-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-top-header__content" href="/contact">CONTACT</a>
</li>
<li class='l-header__link l-header__btn l-top-header__btn'>
<a class="l-top-header__content" href="/recruit">RECRUIT</a>
</li>
</ul>
</div>
</header>
<div class='l-header__nav-sp'>
<nav>
<ul>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/recruit">RECRUIT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
</ul>
</nav>
</div>
<script crossorigin='anonymous' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script>
  $(function() {
    $('.l-header__nav-toggle').click(function(){
      if ($(this).hasClass('open')) {
        $('.l-header__nav-sp').fadeOut();
        $('body').removeClass('fixed');
        $(this).find('img').attr('src','/assets/ic_toggle.png');
        $(this).removeClass('open');
      } else {
        $('.l-header__nav-sp').fadeIn();
        $('body').addClass('fixed');
        $(this).find('img').attr('src','/assets/ic_close.png');
        $(this).addClass('open');
      }
    })
  })
</script>

<div class='l-body'>
<div class='l-main'>
<section>
<h1 class='l-main__title'>We are the</br>Decentralized </br>Future.</h1>
<div class='l-main__eyecatch'>
<div class='l-main_eyecatch_slider'>
<img class="l-main__eyecatch_img" alt="techtecのアイキャッチ オフィス画像" src="/assets/img_top_eyecatch_01-63938ed65438e723512ead0c0df3370e46de4a4a054104b69e645c6620c3ab25.jpg" />
<img class="l-main__eyecatch_img" alt="techtecのアイキャッチ オフィス画像" src="/assets/img_top_eyecatch_02-606d03b3279b7e0e399a21a5905722e7710f0f2a372a30aa04a552260e5e648c.jpg" />
<img class="l-main__eyecatch_img" alt="techtecのアイキャッチ" src="/assets/img_top_eyecatch_03-26d4a52de8f391dcfa60a8de82e480012d7a4a311ffab858469f2a1e4590cb32.jpg" />
</div>
</div>
</section>
</div>
<div class='l-mission'>
<section>
<div class='l-body__title'>
<h2 class='l-body__heading l-body__heading_arrange'>
MISSION
<span class='l-body__subhead l-body__subhead_arrange'>
企業理念
</span>
</h2>
</div>
<h3 class='l-mission__title'>個人の成長をサポートし、誰もが自AAAAAAAAAAA。</h3>
<p class='l-mission__desc'>我々は、誰もが自由に生きていける世界を作るべく、あらゆる選択肢を生み出し、提供し続けていきます。</p>
<div class='l-mission__button c-line__button'>
<a class="c-line__button__text" href="/recruit">私たちについて</a>
</div>
</section>
</div>
<div class='l-service'>
<section>
<div class='l-body__title l-body__title_bg'>
<h2 class='l-body__heading l-body__heading_bg'>SERVICE</h2>
<p class='l-body__subhead l-body__subhead_bg'>できること</p>
</div>
<div class='l-service__content l-body__content'>
<div class='l-service__content__body'>
<div class='l-service__content__image'>
<img alt="メディアサポート事業" src="/assets/ic_service_media_sm-4d6e282d361a0e58b05e4840a51ef138c141c9f9b2ae80e5e0602700e1ba5401.png" />
</div>
<h3 class='l-service__content__title'>メディアサポート事業</h3>
<p class='l-service__content__explain'>メディアの立ち上げからグロースまで</br>幅広くサポートします。</p>
<div class='l-service__content__button c-line__button'>
<a class="c-line__button__text" href="/service/media_consulting">詳しく見る</a>
</div>
</div>
<div class='l-service__content__body'>
<div class='l-service__content__image'>
<img alt="人材育成事業" src="/assets/ic_service_pr_sm-5497ab9e2887882d3b5cb465e2e00be8cf5ecd97645231fda75a674b7c4cf872.png" />
</div>
<h3 class='l-service__content__title'>人材育成事業</h3>
<p class='l-service__content__explain'>ブロックチェーン人材の育成、英語・中国語などの次世代人材の育成をサポートします。</p>
<div class='l-service__content__button c-line__button'>
<a class="c-line__button__text" href="/service/human_resource_development">詳しく見る</a>
</div>
</div>
<div class='l-service__content__body'>
<div class='l-service__content__image'>
<img alt="翻訳・採用事業" src="/assets/ic_service_trans_sm-8c1f4fc890107cd92111e0464c0a0a19868a1f9ef8f85249a8a0f96a79da40da.png" />
</div>
<h3 class='l-service__content__title'>翻訳・採用事業</h3>
<p class='l-service__content__explain'>仮想通貨・ブロックチェーンに限らず</br>事業のグローバル対応をサポートします。</p>
<div class='l-service__content__button c-line__button'>
<a class="c-line__button__text" href="/service/translation">詳しく見る</a>
</div>
</div>
</div>
</section>
</div>
<div class='l-product'>
<section class='inner'>
<div class='l-body__title'>
<h2 class='l-body__heading'>PRODUCT</h2>
<p class='l-body__subhead'>創っているもの</p>
</div>
<div class='l-product__content l-body__content'>
<div class='l-product__content__cell l-product__content__pol__cell'>
<a href='https://pol.techtec.world' target='_blank'>
<div class='l-product__content__pol__logo'>
<img alt="PoL(ポル) “学習するほどトークンがもらえる”全く新しい形の総合学習プラットフォーム" src="/assets/logo_pol-4499e6f8cdb8bc0892711252df396abc537c3b021334e40f34389bafd03e8991.png" />
</div>
<div class='l-product__content__text l-product__content__pol__text'>
<h3 class='l-product__content__title'>PoL</h3>
<p class='l-product__content__subtitle'>(ポル)</p>
<p class='l-product__content__desc'>“学習するほどトークンがもらえる”<br/>全く新しい形の総合学習プラットフォーム</p>
<div class='l-product__content__button p-product__content__link'>
<a class="c-line__button__text" target="_blank" href="https://pol.techtec.world">サービスサイトへ</a>
</div>
</div>
<div class='l-product__content__pol__image'>
<img alt="PoL(ポル)のデバイス" src="/assets/img_pol_device-07a396e1d90bb38781338fd3e7ddf09bb7ba4ba4ba61c3d21dbc37895d9d90be.png" />
</div>
<div class='l-product__content__bg l-product__content__pol__bg'>
<img alt="PoL(ポル)の背景" src="/assets/bg_pol-ccdd2db80d79d35671bc7448bb52f04be2a946f683811120fb03d9d675e1e811.png" />
</div>
</a>
</div>
<div class='l-product__content__cell l-product__content__tech__cell'>
<a href='https://www.techtec.site/' target='_blank'>
<div class='l-product__content__text l-product__content__tech__text'>
<h3 class='l-product__content__title l-product__content__tech__title'>techtec</h3>
<p class='l-product__content__subtitle l-product__content__tech__subtitle'>(テックテク)</p>
<p class='l-product__content__desc l-product__content__tech__desc'>仮想通貨・ブロックチェーンに特化した<br/>記事発注サービス</p>
<div class='l-product__content__button l-product__content__tech__button p-product__content__link p-product__content__link__white'>
<a class="c-line__button__text" target="_blank" href="https://www.techtec.site/">サービスサイトへ</a>
</div>
</div>
<div class='l-product__content__tech__image'>
<img alt="techtec(テックテク)のデバイス" src="/assets/img_techtec_device-a3ba01e41993e758bd997bce8c529e09e873aa94b7c37dbb23d2603fc5926c42.png" />
</div>
<div class='l-product__content__bg'>
<img alt="techtec(テックテク)の背景" src="/assets/bg_techtec-be432f1eff92c1ed4d773eef6387a8dd8c75ce68d05da94cb0f183e5388f4bdc.png" />
</div>
</a>
</div>
<div class='l-product__content__cell l-product__content__hb__cell'>
<a href='https://hi-blockchain.world/' target='_blank'>
<div class='l-product__content__hb__image'>
<img alt="techtec(テックテク)のデバイス" src="/assets/img_hb-2f475faa5fec4dc457b61af0eab487871b2e6fa20f9e3a37f3128822f2a6a18a.png" />
</div>
<div class='l-product__content__text l-product__content__hb__text'>
<h3 class='l-product__content__title'>Hi Blockchain</h3>
<p class='l-product__content__subtitle'>(ハイ ブロックチェーン)</p>
<p class='l-product__content__desc l-product__content__hb__desc'>ブロックチェーンに特化したwebメディア</p>
<div class='l-product__content__button l-product__content__hb__button p-product__content__link'>
<a class="c-line__button__text" target="_blank" href="https://hi-blockchain.world/">サービスサイトへ</a>
</div>
</div>
</a>
</div>
</div>
</section>
</div>
<div class='l-community'>
<section class='inner'>
<div class='l-body__title l-body__title_arrange'>
<h2 class='l-body__heading l-body__heading_arrange'>
COMMUNITY
<span class='l-body__subhead l-body__subhead_arrange'>
欠かせないもの
</span>
</h2>
</div>
<div class='l-community__content l-body__content'>
<p class='l-community__content__desc'>Decentralizedな世界では、コミュニティの力が必要不可欠です。<br/>techtecは、既存事業へのブロックチェーン活用を研究するコミュニティ「techain(テックチェーン)」を運営しています。</p>
<div class='l-community__content__pics'>
<div class='l-community__content__cell'>
<img alt="ミートアップの様子" class="l-community__content__image" src="/assets/img_cm_01-3ac5048e2ca06ba34d8a8dffeffc05a490a4e06cf33fe89aec8eca030773323b.png" />
<div class='l-community__content__label'>ミートアップの様子</div>
</div>
<div class='l-community__content__cell'>
<img alt="海外でミートアップ" class="l-community__content__image" src="/assets/img_cm_02-fcb16c54693c001ff90a5bc6627ebd6adff550a3a49fb093321c452d8b632529.png" />
<div class='l-community__content__label'>海外でミートアップ</div>
</div>
<div class='l-community__content__cell'>
<img alt="海外プロジェクトを招待" class="l-community__content__image" src="/assets/img_cm_03-88b5d2f0833e73aea42c63830553b288c8317e6d86e89d2bfed46aa92595b920.png" />
<div class='l-community__content__label'>海外プロジェクトを招待</div>
</div>
<div class='l-community__content__cell'>
<img alt="オフィスのイベントスペース" class="l-community__content__image" src="/assets/img_cm_04-878ea47b375bb97f520bd30886e25fc63875c69f3afd5346d25364d5e9d61ea8.png" />
<div class='l-community__content__label'>オフィスのイベントスペース</div>
</div>
</div>
<div class='l-community__content__button c-line__button c-line__button_blank'>
<a class="c-line__button__text" target="_blank" href="https://techtec.connpass.com/">コミュニティに参加する</a>
</div>
</div>
</section>
</div>
<div class='l-exposure'>
<section>
<div class='l-body__title l-body__title_bg'>
<h2 class='l-body__heading l-body__heading_bg'>EXPOSURE</h2>
<p class='l-body__subhead l-body__subhead_bg'>メディア露出</p>
</div>
<div class='l-exposure__content l-body__content'>
<img alt="THE BRIDGE" class="l-exposure__content_img" src="/assets/img_exposure_01-80f134e2bfa76d1999050b53958ef0db78db3ca79b5dc34fef9d41f5c3f226e5.png" />
<img alt="あたらしい経済" class="l-exposure__content_img" src="/assets/img_exposure_02-bf38f986789abf75914afcf44e403f689c79640cbf38d123b5811016e4870472.png" />
<img alt="REUTERS" class="l-exposure__content_img" src="/assets/img_exposure_03-b44bac38d8190b1bcef179b1aff1ad0f7521c0fc1836ed54e0a5da11f99fcf65.png" />
<img alt="Crypto Times" class="l-exposure__content_img" src="/assets/img_exposure_04-06c427170115f2293bbe649c6fb656c6c7a7fbfd0b0bbf134ebea08bcc50ac68.png" />
<img alt="BITDAYS" class="l-exposure__content_img" src="/assets/img_exposure_05-aca66d145ced15af2ce19483cdd6c89a068f2ee03c51cd055e0cee70577c051e.png" />
<img alt="仮想通貨Watch" class="l-exposure__content_img" src="/assets/img_exposure_06-a21b5edce7e50905a7bd1e5bccc232ea62a54948486a48bdd56f9d00c37c6c2e.svg" />
<img alt="忍者の英語研究所" class="l-exposure__content_img" src="/assets/img_exposure_07-365583b18bd726e5feef429b692c9d5a7014fba8a47380d403520d90d10b75d9.png" />
</div>
</section>
</div>
<div class='l-recruit'>
<h2 class='l-recruit__title'>私たちと一緒に働きませんか？</h2>
<p class='l-recruit__desc'>techtecは常に新しい仲間を募集しています。<br/>「メンバーの圧倒的な成長」「プロダクトドリブン」「フラットな組織」<br/>上記に少しでも共感してもらえる人は、<br/>ぜひ一度オフィスに遊びに来てください！<br/><br/>共に、"Decentralizedな未来"を創りませんか？</p>
<div class='l-recruit__button c-line__button c-line__button_white'>
<a class="c-line__button__text c-line__button_white__text" href="/recruit">採用情報</a>
</div>
</div>
<div class='l-contact'>
<section class='inner'>
<div class='l-body__title'>
<h2 class='l-body__heading'>CONTACT</h2>
<p class='l-body__subhead'>一緒にできること</p>
</div>
<div class='l-contact__content'>
株式会社techtecに関するお問い合わせや採用、</br>その他パートナーシップや取材に関するご相談は以下よりお願いいたします。
<div class='l-contact__button c-line__button'>
<a class="c-line__button__text" href="/contact">お問い合わせ</a>
</div>
</div>
</section>
</div>
</div>
<footer>
<section class='inner'>
<div class='l-footer__body'>
<div class='l-footer__body__logo'>
<img alt="techtec" src="/assets/logo_wh-01db39b1e5ec60fca1fa00b41704065e4bb7de01344129b115b1c713d57e7465.png" />
</div>
<div class='l-footer__body__link'>
<ul>
<li class='l-footer__title'>
ABOUT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/">ホーム</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service">サービス一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/products">プロダクト一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/company">会社情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/recruit">採用情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/contact">お問い合わせ</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
SERVICE
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/media_consulting">メディアサポート事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/human_resource_development">人材育成事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/translation">翻訳・採用事業</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
PRODUCT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://pol.techtec.world">PoL(ポル)</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.site">techtec</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://hi-blockchain.world/">Hi Blockchain</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
COMMUNITY
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://twitter.com/PoL_techtec">Twitter</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://www.facebook.com/PoLtechtec/">Facebook</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.connpass.com/">connpass</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://medium.com/techtec">会社ブログ</a>
</li>
</ul>
</div>
</div>
<div class='l-footer__copyright'>
<p>​©︎2019 • techtec Inc.</p>
</div>
</section>
</footer>
</html>

<script crossorigin='anonymous' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src='assets/slick.js'></script>
<script>
  $(function() {
    $('.l-main_eyecatch_slider').slick({
      autoplay: true,
      arrows: false,
      speed: 600,
      fade: true,
      cssEase: 'linear',
      pauseOnFocus: false
    });
  })
</script>
