
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="all" href="/assets/application-2cdb4cecb904d07232e557c9be433e1185b134ccb5d4b6407cb8ad32547acbfd.css" />
<head>
<title>メディアサポート事業 - 株式会社techtec</title>
<meta content='メディアサポート事業では、仮想通貨・ブロックチェーン領域におけるメディアの立ち上げからグロースまで、幅広くサポートします。まだまだ黎明期である仮想通貨・ブロックチェーン業界は、正しい情報を入手する難しさや入手した情報を発信できる人材不足が、長年の課題となっています。' name='description'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1' name='viewport'>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body></body>
<header class='l-header' role='banner'>
<div class='l-header__body'>
<div class='l-header__logo'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__logo-sp'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__nav-toggle'>
<img src="/assets/ic_toggle-d63da8b5ec3d4b92f502c77973ebe5201683c6122734d9cbec1b3b47178a1fee.png" alt="Ic toggle" />
</div>
<ul class='l-header__list'>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
<li class='l-header__link l-header__btn'>
<a class="l-top-header__content" href="/recruit">RECRUIT</a>
</li>
</ul>
</div>
</header>
<div class='l-header__nav-sp'>
<nav>
<ul>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/recruit">RECRUIT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
</ul>
</nav>
</div>
<script crossorigin='anonymous' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script>
  $(function() {
    $('.l-header__nav-toggle').click(function(){
      if ($(this).hasClass('open')) {
        $('.l-header__nav-sp').fadeOut();
        $('body').removeClass('fixed');
        $(this).find('img').attr('src','/assets/ic_toggle.png');
        $(this).removeClass('open');
      } else {
        $('.l-header__nav-sp').fadeIn();
        $('body').addClass('fixed');
        $(this).find('img').attr('src','/assets/ic_close.png');
        $(this).addClass('open');
      }
    })
  })
</script>

<div class='c-body'>
<section class='inner'>
<div class='s-top'>
<div class='s-top__text'>
<h1 class='s-top__title'>メディアサポート事業</h1>
<p class='s-top__desc'>仮想通貨メディアの立ち上げからグロースまで幅広くサポートします。</br>まだまだ黎明期である仮想通貨・ブロックチェーン業界は、正しい情報を入手する難しさや入手した情報を発信できる人材不足が長年の課題となっています。</p>
</div>
<div class='s-top__image'>
<img alt="メディアサポート事業" src="/assets/ic_service_media_lg-a8b5cd48d26463e6aa88b3a57df37f40589425955cce5379e46d7b7c778d1a76.png" />
</div>
</div>
<div class='s-help'>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="著名人の紹介" src="/assets/ic_service_media_feat_01-11ff94d0bd89047794ef60abb80aeb0e225df7853559ddbd36ddf1a8db4f8bc6.png" />
</div>
<h3 class='s-help__title'>著名人の紹介</h3>
<p class='s-help__desc'>まだまだ狭い業界のインサイダーとなるべく、業界の最前線で活躍する著名人を紹介します。<br/>インタビュー記事などにご活用ください。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="社内ライターの研修" src="/assets/ic_service_media_feat_02-903ba784d4cbf81f0a92d11673d777afa7b8614e07bf342b08d722a1d770a512.png" />
</div>
<h3 class='s-help__title'>社内ライターの研修</h3>
<p class='s-help__desc'>社内のライターに対して、業界の知識だけでなくSEOやライティングの知識も身に付く研修プログラムを用意しています。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="記事広告の斡旋" src="/assets/ic_service_media_feat_03-a7f36504ee1b1fe9096ed7966dcecec089ac585bee0edd36d1904ca081b6f409.png" />
</div>
<h3 class='s-help__title'>記事広告の斡旋</h3>
<p class='s-help__desc'>海外プロジェクトの紹介記事やイベントの告知記事など、良質なネタを提供します。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="業界分析レポートの作成" src="/assets/ic_service_media_feat_04-f2aa31ead41030af8972da056ad0baf9bbe6f76ed72e72f079327363307e90a4.png" />
</div>
<h3 class='s-help__title'>業界分析レポートの作成</h3>
<p class='s-help__desc'>techtecリサーチチームによる、全世界の出来事を網羅した業界分析レポートを定期的にお届けします。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="海外速報の配信" src="/assets/ic_service_media_feat_05-4f483f83be010b873c27ef0525494b9c0e16dec21df12b3f7bdf00f29a72945f.png" />
</div>
<h3 class='s-help__title'>海外速報の配信</h3>
<p class='s-help__desc'>仮想通貨・ブロックチェーン業界のニュースはスピードが命です。海外で起こった出来事を海外の生データで収集し、日本語に翻訳して速報配信します。</p>
</div>
</div>
</section>
</div>
<footer>
<section class='inner'>
<div class='l-footer__body'>
<div class='l-footer__body__logo'>
<img alt="techtec" src="/assets/logo_wh-01db39b1e5ec60fca1fa00b41704065e4bb7de01344129b115b1c713d57e7465.png" />
</div>
<div class='l-footer__body__link'>
<ul>
<li class='l-footer__title'>
ABOUT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/">ホーム</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service">サービス一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/products">プロダクト一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/company">会社情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/recruit">採用情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/contact">お問い合わせ</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
SERVICE
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/media_consulting">メディアサポート事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/human_resource_development">人材育成事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/translation">翻訳・採用事業</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
PRODUCT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://pol.techtec.world">PoL(ポル)</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.site">techtec</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://hi-blockchain.world/">Hi Blockchain</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
COMMUNITY
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://twitter.com/PoL_techtec">Twitter</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://www.facebook.com/PoLtechtec/">Facebook</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.connpass.com/">connpass</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://medium.com/techtec">会社ブログ</a>
</li>
</ul>
</div>
</div>
<div class='l-footer__copyright'>
<p>​©︎2019 • techtec Inc.</p>
</div>
</section>
</footer>

</html>
