
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="all" href="/assets/application-2cdb4cecb904d07232e557c9be433e1185b134ccb5d4b6407cb8ad32547acbfd.css" />
<head>
<title>人材育成事業 - 株式会社techtec</title>
<meta content='世界最大の仮想通貨市場を誇る日本は、ブロックチェーンにおいては世界に遅れをとっています。これからの社会では、ブロックチェーンだけでなく英語や中国語といったグローバルな能力が必要になります。人材育成事業では、そんなグローバルな環境で活躍できる人材の育成プログラムを提供していきます。' name='description'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1' name='viewport'>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body></body>
<header class='l-header' role='banner'>
<div class='l-header__body'>
<div class='l-header__logo'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__logo-sp'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__nav-toggle'>
<img src="/assets/ic_toggle-d63da8b5ec3d4b92f502c77973ebe5201683c6122734d9cbec1b3b47178a1fee.png" alt="Ic toggle" />
</div>
<ul class='l-header__list'>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
<li class='l-header__link l-header__btn'>
<a class="l-top-header__content" href="/recruit">RECRUIT</a>
</li>
</ul>
</div>
</header>
<div class='l-header__nav-sp'>
<nav>
<ul>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/recruit">RECRUIT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
</ul>
</nav>
</div>
<script crossorigin='anonymous' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script>
  $(function() {
    $('.l-header__nav-toggle').click(function(){
      if ($(this).hasClass('open')) {
        $('.l-header__nav-sp').fadeOut();
        $('body').removeClass('fixed');
        $(this).find('img').attr('src','/assets/ic_toggle.png');
        $(this).removeClass('open');
      } else {
        $('.l-header__nav-sp').fadeIn();
        $('body').addClass('fixed');
        $(this).find('img').attr('src','/assets/ic_close.png');
        $(this).addClass('open');
      }
    })
  })
</script>

<div class='c-body'>
<section class='inner'>
<div class='s-top'>
<div class='s-top__text'>
<h1 class='s-top__title'>人材育成事業</h1>
<p class='s-top__desc'>世界最大の仮想通貨市場を誇る日本は、ブロックチェーンにおいては世界に遅れをとっています。<br/>これからの社会では、ブロックチェーンだけでなく英語や中国語といったグローバルな能力が必要になります。</p>
</div>
<div class='s-top__image'>
<img alt="人材育成事業" src="/assets/ic_service_pr_lg-710dc4ba7fbb68f20a9297134f0d49ccd42121fdb397f26d72b50e6252742dda.png" />
</div>
</div>
<div class='s-help'>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="ブロックチェーン人材の育成" src="/assets/ic_service_pr_feat_01-903ba784d4cbf81f0a92d11673d777afa7b8614e07bf342b08d722a1d770a512.png" />
</div>
<h3 class='s-help__title'>ブロックチェーン人材の育成</h3>
<p class='s-help__desc'>Web3.0の根幹を支えるブロックチェーン人材を社内で確保するために、充実の研修プログラムを提供します。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="英語・中国語研修" src="/assets/ic_service_pr_feat_02-6b74a99a57435bcff6da3e07198a1a9531e40bf1a199ff86271287d2d46736e9.png" />
</div>
<h3 class='s-help__title'>英語・中国語研修</h3>
<p class='s-help__desc'>今後より一層グローバル化が進む中で、世界で活躍するための人材を生み出すために、英語と中国語の語学研修を提供しています。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="海外リサーチツアー" src="/assets/ic_service_pr_feat_03-f9efaf434a65b2999b7b970476221f223a7081b73eed0dabaae99b3c4fe4d773.png" />
</div>
<h3 class='s-help__title'>海外リサーチツアー</h3>
<p class='s-help__desc'>実際にグローバルを経験することで、意識の変革を根本から促します。海外からトッププレイヤーを招いたミートアップも開催しています。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="規制についてレクチャー" src="/assets/ic_service_pr_feat_04-b8da0172681d96347953eb97c667ab476dd2f0d2cbf2d14d800b200066ce5c73.png" />
</div>
<h3 class='s-help__title'>規制についてレクチャー</h3>
<p class='s-help__desc'>日本だけでなく海外の規制についても理解することで、より実践的な能力を鍛えることができます。</p>
</div>
</div>
</section>
</div>
<footer>
<section class='inner'>
<div class='l-footer__body'>
<div class='l-footer__body__logo'>
<img alt="techtec" src="/assets/logo_wh-01db39b1e5ec60fca1fa00b41704065e4bb7de01344129b115b1c713d57e7465.png" />
</div>
<div class='l-footer__body__link'>
<ul>
<li class='l-footer__title'>
ABOUT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/">ホーム</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service">サービス一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/products">プロダクト一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/company">会社情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/recruit">採用情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/contact">お問い合わせ</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
SERVICE
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/media_consulting">メディアサポート事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/human_resource_development">人材育成事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/translation">翻訳・採用事業</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
PRODUCT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://pol.techtec.world">PoL(ポル)</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.site">techtec</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://hi-blockchain.world/">Hi Blockchain</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
COMMUNITY
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://twitter.com/PoL_techtec">Twitter</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://www.facebook.com/PoLtechtec/">Facebook</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.connpass.com/">connpass</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://medium.com/techtec">会社ブログ</a>
</li>
</ul>
</div>
</div>
<div class='l-footer__copyright'>
<p>​©︎2019 • techtec Inc.</p>
</div>
</section>
</footer>

</html>
