
<!DOCTYPE html>
<html>
<link rel="stylesheet" media="all" href="/assets/application-2cdb4cecb904d07232e557c9be433e1185b134ccb5d4b6407cb8ad32547acbfd.css" />
<head>
<title>翻訳・採用事業 - 株式会社techtec</title>
<meta content='仮想通貨・ブロックチェーンに限らず、近年はグローバル対応が当たり前の時代となりました。翻訳・採用事業ホームページの全面翻訳からイベントの通訳、社内のビジネス英会話研修、外国人採用まで、グローバル展開を幅広くサポートします。英語だけでなく中国語にも対応可能です。' name='description'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
<meta content='width=device-width,initial-scale=1' name='viewport'>
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
</head>
<body></body>
<header class='l-header' role='banner'>
<div class='l-header__body'>
<div class='l-header__logo'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__logo-sp'>
<a href="/"><img alt="techtecコーポレート" src="/assets/logo-00c3fe167157418a397908529483c7b04357c234797d48ca69d7a14e787d0e46.png" /></a>
</div>
<div class='l-header__nav-toggle'>
<img src="/assets/ic_toggle-d63da8b5ec3d4b92f502c77973ebe5201683c6122734d9cbec1b3b47178a1fee.png" alt="Ic toggle" />
</div>
<ul class='l-header__list'>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
<li class='l-header__link l-header__btn'>
<a class="l-top-header__content" href="/recruit">RECRUIT</a>
</li>
</ul>
</div>
</header>
<div class='l-header__nav-sp'>
<nav>
<ul>
<li class='l-header__link'>
<a class="l-header__content" href="/">HOME</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/service">SERVICE</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/products">PRODUCT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/company">COMPANY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://hi-blockchain.world/category/pol-news">NEWS</a>
</li>
<li class='l-header__link'>
<a class="l-header__content l-header__content_blank" target="_blank" href="https://techtec.connpass.com/">COMMUNITY</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/recruit">RECRUIT</a>
</li>
<li class='l-header__link'>
<a class="l-header__content" href="/contact">CONTACT</a>
</li>
</ul>
</nav>
</div>
<script crossorigin='anonymous' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script>
  $(function() {
    $('.l-header__nav-toggle').click(function(){
      if ($(this).hasClass('open')) {
        $('.l-header__nav-sp').fadeOut();
        $('body').removeClass('fixed');
        $(this).find('img').attr('src','/assets/ic_toggle.png');
        $(this).removeClass('open');
      } else {
        $('.l-header__nav-sp').fadeIn();
        $('body').addClass('fixed');
        $(this).find('img').attr('src','/assets/ic_close.png');
        $(this).addClass('open');
      }
    })
  })
</script>

<div class='c-body'>
<section class='inner'>
<div class='s-top'>
<div class='s-top__text'>
<h1 class='s-top__title'>翻訳・採用事業</h1>
<p class='s-top__desc'>仮想通貨・ブロックチェーンに限らず、近年はグローバル対応が当たり前の時代となりました。ホームページの全面翻訳からイベントの通訳、社内のビジネス英会話研修、外国人採用まで、グローバル展開を幅広くサポートします。</br>英語だけでなく中国語にも対応可能です。</p>
</div>
<div class='s-top__image'>
<img alt="翻訳・採用事業" src="/assets/ic_service_trans_lg-07bc1eaf59b21f463c072948124680f902996b4d4d2ac9479457c14c7d26c377.png" />
</div>
</div>
<div class='s-help'>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="ホームページの多言語対応" src="/assets/ic_service_trans_feat_01-e39ed10ce52b7b3c7318fa7d0f4df5d87f942bcb3d5d676bf247b4dd23d0b2ea.png" />
</div>
<h3 class='s-help__title'>ホームページの多言語対応</h3>
<p class='s-help__desc'>マーケティングだけでなく海外人材の採用のためにも、ホームページの多言語対応は必須です。</br>単なるテキストの翻訳だけでなく、翻訳サイトの開発についてもサポートします。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="オウンドメディアの多言語対応" src="/assets/ic_service_trans_feat_02-f9efaf434a65b2999b7b970476221f223a7081b73eed0dabaae99b3c4fe4d773.png" />
</div>
<h3 class='s-help__title'>オウンドメディアの多言語対応</h3>
<p class='s-help__desc'>ホームページの翻訳だけでなく、定期的な多言語コンテンツの配信も欠かせません。オウンドメディアや社内コンテンツの多言語対応もサポートします。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="イベントへの通訳派遣" src="/assets/ic_service_trans_feat_03-7c9e950ae40f0ebda136db6147654124b7aff6bee1afbde0c0b703e2f4b22eeb.png" />
</div>
<h3 class='s-help__title'>イベントへの通訳派遣</h3>
<p class='s-help__desc'>社内イベントなどで海外からスピーカーを招待する場合の通訳をサポートします。</br>日本語を外国語へ通訳する場合もお任せください。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="ビジネス英会話研修" src="/assets/ic_service_trans_feat_04-903ba784d4cbf81f0a92d11673d777afa7b8614e07bf342b08d722a1d770a512.png" />
</div>
<h3 class='s-help__title'>ビジネス英会話研修</h3>
<p class='s-help__desc'>近年は、社内公用語を英語にする企業も増えてきました。ビジネスの現場で使用するための英会話研修を提供します。</p>
</div>
<div class='s-help__cell'>
<div class='s-help__image'>
<img alt="外国人採用" src="/assets/ic_service_trans_feat_05-380b76f865e4becd603807241561582aa5d9be48b3908f2de23b6373fa7b2de4.png" />
</div>
<h3 class='s-help__title'>外国人採用</h3>
<p class='s-help__desc'>日本人採用に限界が見え始め積極的な外国人採用が企業の未来を左右する時代となりました。</br>techtecでは、豊富な外国人採用の実績を活かして、採用からVISA対応、研修まで全面的にサポートします。</p>
</div>
</div>
</section>
</div>
<footer>
<section class='inner'>
<div class='l-footer__body'>
<div class='l-footer__body__logo'>
<img alt="techtec" src="/assets/logo_wh-01db39b1e5ec60fca1fa00b41704065e4bb7de01344129b115b1c713d57e7465.png" />
</div>
<div class='l-footer__body__link'>
<ul>
<li class='l-footer__title'>
ABOUT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/">ホーム</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service">サービス一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/products">プロダクト一覧</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/company">会社情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/recruit">採用情報</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/contact">お問い合わせ</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
SERVICE
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/media_consulting">メディアサポート事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/human_resource_development">人材育成事業</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" href="/service/translation">翻訳・採用事業</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
PRODUCT
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://pol.techtec.world">PoL(ポル)</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.site">techtec</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://hi-blockchain.world/">Hi Blockchain</a>
</li>
</ul>
<ul>
<li class='l-footer__title'>
COMMUNITY
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://twitter.com/PoL_techtec">Twitter</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://www.facebook.com/PoLtechtec/">Facebook</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://techtec.connpass.com/">connpass</a>
</li>
<li class='l-footer__link'>
<a class="l-footer__content" target="_blank" href="https://medium.com/techtec">会社ブログ</a>
</li>
</ul>
</div>
</div>
<div class='l-footer__copyright'>
<p>​©︎2019 • techtec Inc.</p>
</div>
</section>
</footer>

</html>
