@media screen and (min-width: 769px){
    .c-body{

        &__title {
            padding: 120px 0;
            text-align: center;
        }

        &__heading {
            font-size: 48px;
            font-style: italic;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 2.4px;
            color: #FF4400;
            &_bg {
                color: #FFF;
            }
        }

        &__subhead {
            display: block;
            margin: 8px 0 0;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 1.6px;
            color: #000;
            &_bg {
                color: #FFF;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .c-body{

        &__title {
            padding: 120px 0 64px;
            text-align: center;
        }

        &__heading {
            font-size: 28px;
            font-style: italic;
            font-weight: 800;
            line-height: 1;
            letter-spacing: 2.4px;
            color: #FF4400;
            &_bg {
                color: #FFF;
            }
        }

        &__subhead {
            display: block;
            margin: 12px 0 0;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1.6px;
            color: #000;
            &_bg {
                color: #FFF;
            }
        }

    }
}
