@media screen and (min-width: 769px){
    .c-recruit{
        padding: 100px 0;
        background-color: #FAFCFE;
        text-align: center;

        &__explain {
            margin: 64px auto 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 1.6px;
            color: #6C7185;
        }

        &__body {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 64px auto 0;
        }

        &__link {
            border-right: 1px solid #E5E2E7;

            &:last-child {
                border-right: none;
            }

            & a {
                padding: 0 24px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1.6px;
                color: #6C7185;
            }

            &.is-inactive {
                & a {
                    color: #E5E2E7;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .c-recruit{
        padding: 64px 24px;
        background-color: #FAFCFE;
        text-align: center;

        &__explain {
            text-align: left;
            margin: 40px auto 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 2;
            letter-spacing: 0.8px;
            color: #6C7185;
        }

        &__body {
            margin: 40px auto 0;
        }

        &__link {
            border-bottom: 1px solid #E5E2E7;

            &:last-child {
                border-bottom: none;
            }

            & a {
                text-align: left;
                padding: 12px 0;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1.6px;
                color: #6C7185;
            }

            &.is-inactive {
                & a {
                    color: #E5E2E7;
                }
            }
        }
    }
}

